html{
    height:100%;

}
body {
margin: 0;
padding:0;
font-family: "Butler", sans-serif;
overflow-x:hidden;
background-color: white;
zoom: 100%;
overflow-x: hidden; 

min-height: 100%;

position: relative;
}
p{
    font-size:40px;
}
@media screen and (max-width: 700px) {
    p{
        font-size:35px;
    }

}
@media screen and (max-width: 400px) {
    p{
        font-size:30px;
    }

}
.all-container{
    padding-bottom: 500px;
}
.color-pallete{
    background-color:#00737B;
    background-color:#008A8A;
    background-color:#00ADAD;
    background-color:#00C9C9;
    background-color:#E9FBFB;
}
.home-profile-stats{
    padding-right:20px;
    text-align: center;
    
}
.home-profile-stats-kcal{
    margin-left:20px;
}
.map-image{
    text-align: center;
    padding:10px;
}
.home-middle-column-container{
    width:100%;
}
.about-container{
    width:100%;
    padding-left:20px;
}
.home-followers-stats{
    margin:10px;
}
.h5-followers{
    font-weight: bold;
}
.home-profileImage{
    border:1px solid gray;
    border-radius:50% ;
    height:200px;
}
.small-stats{
    display: none;
}
@media screen and (max-width: 992px) {
    .home-profileImage{
        height:30%;
        width:30%;
    }
    .home-middle-column-container{
        width:100%;
    }
    .about-container{
        width:100%;
    }
    .home-profile-stats{
        width:100%;
        display:none;
        
    }
    .small-stats{
        display:flex;
    }

}
@media screen and (max-width: 580px){
    .home-profileImage{
        height:30%;
        width:30%;
    }
}
@media screen and (max-width: 575px) {
    .home-middle-column-container{
        padding-bottom:50px;
    }
    .about-container{
        padding-left:0px;
    }
    .home-followers-stats{
        margin:2px;
    }
    .home-profile-stats{
        padding:0;
        display:block;
        
    }
    .h5-followers{
        font-size:4vw;
    }
    .small-stats{
        display: none;
    }

}
@media screen and (max-width: 790px) {
    .map-image{
        padding:10px;
        width:100%;
    }

}





